/**
 * 这里定义项目的所有颜色相关变量
 *
 * @Author: Cphayim 
 * @Date: 2017-10-16 16:34:09 
 * @Last Modified by: Cphayim
 * @Last Modified time: 2017-12-14 19:40:03
 */


$color_main:  #54b4ef;  // 前景色 
$color_back:  #f2f2f2;;  // 背景色
$color_em:    #f35833;  // 强调色
$color_b:     #eaeaea;  // 边框颜色
$color_f1:    #333;     // 一级文字颜色
$color_f2:    #666;     // 二级文字颜色
$color_f3:    #999;     // 三级文字颜色
$color_f_blue: #8aa5eb;